body {
  background-color: lightgrey;
  text-decoration: none;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  color: black;
  text-decoration: none;
  list-style: none;
}
header {
  background: lightpink;
  width: 100%;
  height: 120px;
}
.logo {
  box-sizing: border-box;
  width: 117px;
  height: 113px;
  padding: 1em;
}
.menu {
  float: right;
  margin-right: 30px;
}
.menu ul li {
  color: black;
  display: inline-block;
  line-height: 80px;
  padding: 3px 12px;
}
a:hover {
  color: #537C93;
  text-decoration: none;
}
.hero-picture {
  box-sizing: border-box;
  width: 14em;
  height: 10em;
}
.hero {
  height: 20em;
  background-color: yellow;
}
.button {
  border-radius: 10px;
  padding: 0.8em;
  color: white;
}
.button-menu {
  border: solid #83BEDED9;
  background-color: #83BEDED9;
}
.button-contact {
  border: solid white;
  background-color: #537C93;
}
.intro {
  background-color: beige;
  height: 200px;
}
.contact-us {
  background-color: #537C93;
  height: 200px;
  text-align: center;
  color: white;
}
footer {
  height: 160px;
  background-color: #fcd182;
  clear: both;
  padding-top: 20px;
}
